form {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    position: center;
    margin: 0 auto;
    /*Para el sombredo*/
    box-shadow: 2px 2px 3px 1px rgb(243, 17, 17);
    /*Para el Gradiente*/
    background-image: linear-gradient(#bd09b7 ,#6b4cf5 );
}

input {
    padding: 7px;
    height: 100%;
}

span {
    color: white;
}
 h1 {
    color: white;
 }

 label {
    color: white;
 }

 button {
    float: right;
 }





